<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>art.lukashahn.files</string>
        <key>ProgramArguments</key>
        <array>
            <string>/bin/sudo</string>
            <string>-u</string>
            <string>blackout</string>
            <string>sh</string>
            <string>/Users/blackout/files.lukashahn.art/sync.sh</string>
        </array>
        <key>RunAtLoad</key>
        <true />
        <key>StandardOutPath</key>
        <string>/Users/blackout/files.lukashahn.art/sync.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/blackout/files.lukashahn.art/error.log</string>
    </dict>
</plist>